<h1>Masks</h1>
<hr>

<div class="alert alert-success" role="alert">{{urlUploadItem}}</div>

<div ng-app="app" class="form-group">
  <div>
    <input type="file" nv-file-select uploader="uploader"/><br/>
    <ul>
      <div class="list-group">
        <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </li>
      </div>
    </ul>
  </div>
</div>

<form name="maskForm" novalidate ng-submit="addMask()">
  <div class="form-group"
       ng-class="{'has-error': maskForm.thumbUrl.$invalid
        && maskForm.thumbUrl.$dirty}">
    <input type="text" class="form-control focus" name="thumbUrl"
           placeholder="thumbUrl" autocomplete="off" required
           ng-model="newMask.thumbUrl">
    <span class="has-error control-label" ng-show="
        maskForm.thumbUrl.$invalid && maskForm.thumbUrl.$dirty">
      Content is required.
    </span>
  </div>

  <div class="form-group"
       ng-class="{'has-error': maskForm.maskUrl.$invalid
        && maskForm.maskUrl.$dirty}">
    <input type="text" class="form-control focus" name="maskUrl"
           placeholder="maskUrl" autocomplete="off" required
           ng-model="newMask.maskUrl">
    <span class="has-error control-label" ng-show="
        maskForm.maskUrl.$invalid && maskForm.maskUrl.$dirty">
      Content is required.
    </span>
  </div>

  <button class="btn btn-default" ng-disabled="maskForm.$invalid">Add</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="mask in masks">

    <form class="form-inline">
      <div class="form-group">
        <label for="thumbUrl">thumbUrl:</label>
        <input type="text" class="form-control" id="thumbUrl" ng-model="mask.thumbUrl">
      </div>
      <div class="form-group">
        <label for="maskUrl">maskUrl:</label>
        <input type="text" class="form-control" id="maskUrl" ng-model="mask.maskUrl">
      </div>

      <button class="btn btn-danger pull-right" ng-click="removeMask(mask)">Delete</button>
      <button class="btn btn-info pull-right" ng-click="updateMask(mask)">Update</button>
    </form>
  </a>
</div>


